@model IIT360_Web.Models.Routine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Routine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoutineId" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseCode" class="control-label"></label>
                <input asp-for="CourseCode" class="form-control" />
                <span asp-validation-for="CourseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginTime" class="control-label"></label>
                <input asp-for="BeginTime" type="time" class="form-control" />
                <span asp-validation-for="BeginTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" type="time" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <input asp-for="Semester" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dayname" class="control-label"></label>
                <input asp-for="Dayname" class="form-control" />
                <span asp-validation-for="Dayname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkInstructorId" class="control-label"></label>
                <select asp-for="FkInstructorId" class="form-control" asp-items="ViewBag.FkInstructorId"></select>
                <span asp-validation-for="FkInstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
