@model IIT360_Web.Models.History

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>History</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HeadingText" class="control-label"></label>
                <input asp-for="HeadingText" class="form-control" />
                <span asp-validation-for="HeadingText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorName" class="control-label"></label>
                <input asp-for="DirectorName" class="form-control" />
                <span asp-validation-for="DirectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActFrom" class="control-label"></label>
                <input type="date" asp-for="ActFrom" class="form-control" />
                <span asp-validation-for="ActFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActTo" class="control-label"></label>
                <input type="date" asp-for="ActTo" class="form-control" />
                <span asp-validation-for="ActTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RohTable" class="control-label"></label>
                <input asp-for="RohTable" class="form-control" />
                <span asp-validation-for="RohTable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
