@model IIT360_Web.Models.Faculty

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Faculty</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacultyId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Designation" class="control-label"></label>
                <input asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Links" class="control-label"></label>
                <input asp-for="Links" class="form-control" />
                <span asp-validation-for="Links" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AboutMe" class="control-label"></label>
                <input asp-for="AboutMe" class="form-control" />
                <span asp-validation-for="AboutMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teachings" class="control-label"></label>
                <input asp-for="Teachings" class="form-control" />
                <span asp-validation-for="Teachings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkFacultyImage" class="control-label"></label>
                <select asp-for="FkFacultyImage" class="form-control" asp-items="ViewBag.FkFacultyImage"></select>
                <span asp-validation-for="FkFacultyImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
