@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p><div style="font-size:20px">Ahmed Ryan</div><br>bsse1011@iit.du.ac.bd</p>
<p><div style="font-size:20px">Hasnatul Jelan Pranto</div><br>mail:bsse1026@iit.du.ac.bd</p>
