@{
    ViewData["Title"] = "Home Page";
}
  
<div class="text-center">
    
    <h1 style="color:#000428; font-weight:400" class="display-4">Welcome</h1>
    <p>This is the Admin Panel for managing IIT360 </p>
</div>
