<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IIT360_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_cerulean.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/side_nav.css" />
    <style>
        body {
            background-image: linear-gradient(to right, #7F7FD5,#86A8E7,#91EAE4);
        }
        #ap {
            font-size: 20px;
            font-weight: 500;
            background: -webkit-linear-gradient(#eee, #004e92);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>

<body>
    
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       <div style="color:white;font-size:20px;font-weight:400;background-color:#050021"> Tables</div>
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Academics" asp-action="Index">Academic</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="AcademicDocuments" asp-action="Index">Academic-Document</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Achievements" asp-action="Index">Achievement</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller ="AimObjectives" asp-action="Index">Aim & Objectives</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Crs" asp-action="Index">CR</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Documents" asp-action="Index">Document</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="EventImages" asp-action="Index">Event-Image</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Events" asp-action="Index">Event</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Faculties" asp-action="Index">Faculty</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="FacultyPublications" asp-action="Index">Faculty-Publication</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Histories" asp-action="Index">History</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Iitians" asp-action="Index">IITian</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Images" asp-action="Index">Images</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Industries" asp-action="Index">Industries</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Institutions" asp-action="Index">Institution</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Instructors" asp-action="Index">Instructors</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Notices" asp-action="Index">Notices</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="ProjectScholarships" asp-action="Index">Project&Scholarship</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="PublicationDocuments" asp-action="Index">Publication-Documents</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Publications" asp-action="Index">Publications</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="ResearchAreas" asp-action="Index">Research Areas</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Researches" asp-action="Index">Researches</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Routines" asp-action="Index">Routine</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Staffs" asp-action="Index">Staffs</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <header>

            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style= "background-image:linear-gradient( #000428,
#004e92)">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="ap" style="font-size:22px"><b>IIT 360</b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div align="right" id="ap"> Admin Panel  </div>
                </nav>
            </div>

        </header>

        <div class="container">

            <div id="page-content-wrapper">

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#dtHorizontalExample').DataTable({
                "scrollX": true
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
