@model IIT360_Web.Models.Academic

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Academic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AcademicId" />
            <div class="form-group">
                <label asp-for="AcademicSection" class="control-label"></label>
                <input asp-for="AcademicSection" class="form-control" />
                <span asp-validation-for="AcademicSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Programs" class="control-label"></label>
                <input asp-for="Programs" class="form-control" />
                <span asp-validation-for="Programs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicInfo" class="control-label"></label>
                <input asp-for="AcademicInfo" class="form-control" />
                <span asp-validation-for="AcademicInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicAdmission" class="control-label"></label>
                <input asp-for="AcademicAdmission" class="form-control" />
                <span asp-validation-for="AcademicAdmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
